Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Platform/ARM/Morello: Fix PCIe ATS and Memory Attributes
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
Owners: @samimujawar

Platform/ARM/Morello: Add MorelloHwConfigPei file for Morello SoC
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Pass platform specific FADT minor version
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
Owners: @samimujawar

Platform/ARM/Morello: Remove unused library from SmbiosPlatformDxe
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
Owners: @samimujawar

Platform/ARM/Morello: Retrieve EDID data for Morello SoC
  Platform/ARM/Morello/Drivers/Tda19988Dxe/Driver.c
  Platform/ARM/Morello/Drivers/Tda19988Dxe/RegisterMap.h
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/LcdPlatformLibMorelloSoc.inf
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Soc.c
Owners: @samimujawar

Platform/ARM/Morello: Add SMBIOS support
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.h
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type0BiosInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type16PhysicalMemoryArray.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type17MemoryDevice.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type19MemoryArrayMappedAddress.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type1SystemInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type32SystemBootInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type3SystemEnclosure.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type7CacheInformation.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Add LcdPlatformLib for LcdGraphicsOutputDxe for SoC
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/LcdPlatformLibMorelloSoc.inf
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Soc.c
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: manually poll QSPI status bit after erase/write
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiDxe.inf
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiReg.h
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/NorFlash.c
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/NorFlash.h
Owners: @samimujawar

Platform/ARM/Morello: Add NXP TDA19988 HDMI transmitter UEFI Driver
  Platform/ARM/Morello/Drivers/Tda19988Dxe/Driver.c
  Platform/ARM/Morello/Drivers/Tda19988Dxe/Driver.h
  Platform/ARM/Morello/Drivers/Tda19988Dxe/DriverBinding.c
  Platform/ARM/Morello/Drivers/Tda19988Dxe/RegisterMap.h
  Platform/ARM/Morello/Drivers/Tda19988Dxe/Tda19988Dxe.inf
  Platform/ARM/Morello/Include/Protocol/Tda19988.h
Owners: @samimujawar

Platform/ARM/Morello: Reserve the ECAM area in ACPI namespace
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/SsdtPciSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Add SoC GOP config
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibSoc.inf
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
Owners: @samimujawar

Platform/ARM/Morello: Fix SMBIOS Type 3 (System Enclosure) length
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type3SystemEnclosure.c
Owners: @samimujawar

Platform/ARM/Morello: Add Cadence I2C controller UEFI Driver
  Platform/ARM/Morello/Drivers/CadenceI2cDxe/CadenceI2cDxe.inf
  Platform/ARM/Morello/Drivers/CadenceI2cDxe/Driver.c
  Platform/ARM/Morello/Drivers/CadenceI2cDxe/Driver.h
  Platform/ARM/Morello/Drivers/CadenceI2cDxe/DriverBinding.c
  Platform/ARM/Morello/Drivers/CadenceI2cDxe/RegisterMap.h
  Platform/ARM/Morello/Include/Protocol/CadenceI2c.h
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table for SCP firmware
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.inf
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/MorelloPlatform.dec
Owners: @samimujawar

Platform/ARM/Morello: Populate Processor Version string dynamically
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Add LogoDxe to provide logo image
  Platform/ARM/Morello/Drivers/LogoDxe/Logo.bmp
  Platform/ARM/Morello/Drivers/LogoDxe/Logo.c
  Platform/ARM/Morello/Drivers/LogoDxe/Logo.idf
  Platform/ARM/Morello/Drivers/LogoDxe/LogoDxe.inf
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table for TF-A
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table support for EDK II
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.h
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS tables for MCC and PCC
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Add CoreSight bindings
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
  Platform/ARM/Morello/MorelloPlatform.dec
Owners: @samimujawar

Platform/ARM/Morello/SoC: Support cpuidle in ACPI
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
Owners: @samimujawar

Platform/ARM/Morello: Using local definition of NorFlashPlatformLib
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiDxe.inf
  Platform/ARM/Morello/Library/NorFlashLib/NorFlashLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Implement SMC calls to fetch the SoC ID
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.h
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
Owners: @samimujawar

Platform/Morello: Add CPU container for Morello SoC
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
Owners: @samimujawar

Platform/ARM/Morello: Set SMBIOS version to 3.5
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Add UIDs to CoreSight devices
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
Owners: @samimujawar

Platform/ARM/Morello: Fix memory issues when parsing version string
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
Owners: @samimujawar

Platform/ARM/Morello: Use Sec.inf
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM: Morello: Update for IORT revision macro renaming
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
Owners: @samimujawar

Platform/ARM/Morello: Fix Type45 table version from compressed format
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
Owners: @samimujawar

Platform/ARM/Morello/FVP: Enable Semi hosting
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Update virtio device sizes
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

[DoNotMerge][TEST] Platform/ARM/Morello: Remove shell time out
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platfrom/ARM/Morello: Generate ASL description of CPU topology
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.h
Owners: @samimujawar

MinPlatformPkg: Separate DmaProtection work from TestPointCheckLib
  Platform/Intel/MinPlatformPkg/Include/Library/TestPointCheckDmaProtectionLib.h
  Platform/Intel/MinPlatformPkg/MinPlatformPkg.dsc
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLib/DxeTestPointCheckDmaProtectionLib.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLib/DxeTestPointCheckDmaProtectionLib.inf
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLib/PeiTestPointCheckDmaProtectionLib.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLib/PeiTestPointCheckDmaProtectionLib.inf
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLibNull/TestPointCheckDmaProtectionLibNull.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckDmaProtectionLibNull/TestPointCheckDmaProtectionLibNull.inf
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.inf
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/PeiTestPointCheckLib.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/PeiTestPointCheckLib.inf
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

RISC-V/PlatformPkg: Fix the library dependencies of PlatformSecLib
  Platform/RISC-V/PlatformPkg/Library/RiscVPlatformSecLib/RiscVPlatformSecLib.inf
Owners: @vlsunil

Platform/Silicon: fix fdt32_to_cpu to Fdt32ToCpu
  Silicon/Bosc/NanHuPkg/Sec/Memory.c
  Silicon/Marvell/Applications/DumpFdt/DumpFdt.c
  Silicon/Sophgo/SG2042Pkg/Sec/Memory.c
Owners: @vlsunil, @ndhillonm, @wojtas-marcin

SiFive/U5SeriesPkg: Remove unnecessary includes
  Platform/SiFive/U5SeriesPkg/U5SeriesPkg.dec
Owners: @vlsunil

SiFive/U5SeriesPkg: Fix FvbServicesRuntimeDxe missing IoLib
  Platform/SiFive/U5SeriesPkg/Universal/Dxe/RamFvbServicesRuntimeDxe/FvbServicesRuntimeDxe.inf
Owners: @vlsunil

Bosc/XiangshanSeriesPkg: Build SEC Data Hob
  Silicon/Bosc/NanHuPkg/Sec/SecMain.c
  Silicon/Bosc/NanHuPkg/Sec/SecMain.h
Owners: @vlsunil
