Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

use DEBUG for DXE driver
  Platform/RaspberryPi/Drivers/FdtDxe/FdtDxe.c
Owners: @ardbiesheuvel, @leiflindholm

JadePkg\PCF85063RealTimeClockLib: Support RealTimeClockLib header move
  Platform/Ampere/JadePkg/Library/PCF85063RealTimeClockLib/PCF85063RealTimeClockLib.inf
Owners: @nhivp, @bexcran, @chuongtranle

AltraBoardPkg\ISL1208RealTimeClockLib: Support RealTimeClockLib header move
  Platform/ASRockRack/AltraBoardPkg/Library/ISL1208RealTimeClockLib/ISL1208RealTimeClockLib.inf
Owners: @leiflindholm, @mdkinney

LoongArchQemuPkg\LsRealTimeClockLib:Support RealTimeClockLib header move
  Platform/Loongson/LoongArchQemuPkg/Library/LsRealTimeClockLib/LsRealTimeClockLib.inf
Owners: @bibo-mao, @kilaterlee, @lixianglai

Silicon\Maxim\Ds1307RtcLib: Support RealTimeClockLib header move
  Silicon/Maxim/Library/Ds1307RtcLib/Ds1307RtcLib.inf
Owners: @leiflindholm, @mdkinney

Etxt4Pkg/Ext4Dxe: Deprecate gEfiUnicodeCollationProtocolGuid
  Features/Ext4Pkg/Ext4Dxe/Collation.c
  Features/Ext4Pkg/Ext4Dxe/Ext4Dxe.inf
Owners: @heatd

MinPlatformPkg: Fix build failure of undefined PCD.
  Platform/Intel/MinPlatformPkg/Include/Dsc/MinPlatformFeaturesPcd.dsc.inc
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

AMD EDKII Platform Code v1.0.0.7 for 5th Generation EPYC Processors
  Platform/AMD/AgesaModulePkg/Include/FchRegistersCommon.h
  Platform/AMD/AmdMinBoardPkg/AmdMinBoardPkg.ci.yaml
  Platform/AMD/AmdMinBoardPkg/Library/BoardBdsHookLib/BoardBdsHook.h
  Platform/AMD/AmdMinBoardPkg/Library/PeiBoardInitPreMemLib/PeiMemoryInit.c
  Platform/AMD/AmdMinBoardPkg/Library/PeiBoardInitPreMemLib/PeiMemoryInit.h
  Platform/AMD/AmdMinBoardPkg/Library/SetCacheMtrrLib/SetCacheMtrrLib.c
  Platform/AMD/AmdPlatformPkg/Library/SpiHcPlatformLib/SpiHcPlatformLib.c
  Platform/AMD/AmdPlatformPkg/Universal/Spi/AmdSpiHc/AmdSpiHc.c
  Platform/AMD/GenoaBoard/Include/Dsc/PlatformCommonPcd.dsc.inc
  Platform/AMD/GenoaBoard/Include/Dsc/ProjectCommon.inc.dsc
  Platform/AMD/GenoaBoard/Override/edk2-platforms/Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.c
  Platform/AMD/GenoaBoard/Override/edk2/MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassBot.h
  Platform/AMD/GenoaBoard/Override/edk2/MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassImpl.c
  Platform/AMD/GenoaBoard/Override/edk2/MdePkg/Library/SmmPciExpressLib/SmmPciExpressLib.inf
  Platform/AMD/TurinBoard/Include/Dsc/PlatformCommonPcd.dsc.inc
  Platform/AMD/TurinBoard/Include/Dsc/ProjectCommon.inc.dsc
  Platform/AMD/TurinBoard/Library/SpiHcRomArmorPlatformLib/SpiHcPlatformLib.c
  Platform/AMD/TurinBoard/Universal/BoardAcpiDxe/Dsdt/Dsdt.asl
Owners: @abdattar, @changab, @pbgrimes

Platform/ARM/Morello: Add Morello capability related changes
  Platform/ARM/Morello/MorelloCap.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Set PCDs related to PCIe and CCIX in FVP
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Segregate the Runtime Variable support
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Modify the IRQ ID and frequency of Debug UART
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Use common PCD
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/SsdtPciFvp.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeFvp.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Update Readme.md
  Platform/ARM/Morello/Readme.md
Owners: @samimujawar

Platform/ARM/Morello: Enable the network stack for FVP
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Add the SMMU, GIC ITS and Timer memory regions
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar

Platform/ARM/Morello: Rename PlatformLib.inf file
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Add support to parse NT_FW_CONFIG in FVP
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/AArch64/Helper.S
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Implement LcdHwLib for the ARM Mali Dxx
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/Driver.c
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/LcdHwMaliDxxLib.inf
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/RegisterMap.h
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Segment Library
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.c
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Fix formatting
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/Platform.h
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/VirtioDevices.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMem.c
Owners: @samimujawar

Platform/ARM/Morello/FVP: Change variable name related to AXI
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Express library
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.c
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.uni
Owners: @samimujawar

Platform/ARM/Morello/FVP: Support cpuidle in ACPI
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeFvp.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Parse HW_CONFIG from EL3_FW
  Platform/ARM/Morello/Drivers/MorelloHwConfigPei/MorelloHwConfigPei.c
  Platform/ARM/Morello/Drivers/MorelloHwConfigPei/MorelloHwConfigPei.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/AArch64/Helper.S
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Ensure GOP is enabled at runtime in FVP
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Expose the Device Tree if it is available
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Add FVP GOP config and GOP DDR carve-out
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Common.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Fvp.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/LcdPlatformLibMorelloFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/Morello: Add CPU container for Morello FVP
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
Owners: @samimujawar

Platform/ARM/JunoPkg: Norflash area for StandaloneMm
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJuno.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmLib.inf
Owners: @samimujawar

Platform/ARM/JunoPkg: support StandaloneMm for Juno
  Platform/ARM/JunoPkg/ArmJuno.dsc
  Platform/ARM/JunoPkg/ArmJuno.fdf
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM/JunoPkg: Disable shadow copying of BFV in StMM
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
Owners: @samimujawar

Platform/ARM: Commonize PlatformStandaloneMm.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc.inc
Owners: @samimujawar

Silicon/Qualcomm: Add support for UFS driver
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.c
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.inf
  Silicon/Qualcomm/QcomPlatformPkg/QcomPlatformPkg.dec
Owners: @leiflindholm, @b49020

Platform/Qualcomm/RB3Gen2: Enable UFS driver
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
Owners: @leiflindholm, @b49020

MinPlatformPkg: Fix SecBoardInitLibNull build failure.
  Platform/Intel/MinPlatformPkg/PlatformInit/Library/SecBoardInitLibNull/SecBoardInitLib.c
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Platform/Intel/*.OpenBoardPkg: Fix build failure relating to PCD.
  Platform/Intel/AlderlakeOpenBoardPkg/AlderlakePRvp/OpenBoardPkgPcd.dsc
  Platform/Intel/CometlakeOpenBoardPkg/CometlakeURvp/OpenBoardPkgPcd.dsc
  Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/OpenBoardPkgPcd.dsc
  Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/OpenBoardPkgPcd.dsc
  Platform/Intel/KabylakeOpenBoardPkg/KabylakeRvp3/OpenBoardPkgPcd.dsc
  Platform/Intel/PurleyOpenBoardPkg/BoardMtOlympus/PlatformPkgPcd.dsc
  Platform/Intel/PurleyOpenBoardPkg/BoardTiogaPass/PlatformPkgPcd.dsc
  Platform/Intel/SimicsOpenBoardPkg/BoardX58Ich10/OpenBoardPkgPcd.dsc
  Platform/Intel/TigerlakeOpenBoardPkg/TigerlakeURvp/OpenBoardPkgPcd.dsc
  Platform/Intel/WhiskeylakeOpenBoardPkg/UpXtreme/OpenBoardPkgPcd.dsc
  Platform/Intel/WhiskeylakeOpenBoardPkg/WhiskeylakeURvp/OpenBoardPkgPcd.dsc
Owners: @nate-desimone, @SaiChaganty, @ChaselChiu, @benjamindoron, @jackpot51

Platform/Qualcomm/RB3Gen2: Add DTB loading support
  Platform/Qualcomm/RB3Gen2/DeviceTree/Dummy.dts
  Platform/Qualcomm/RB3Gen2/DeviceTree/DummyDeviceTree.inf
  Platform/Qualcomm/RB3Gen2/DeviceTree/UserDTB.inf
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
  Platform/Qualcomm/RB3Gen2/Readme.md
Owners: @leiflindholm, @b49020

Remove Overrides for AMD Server "Genoa" Platforms
  Platform/AMD/GenoaBoard/Override/edk2-platforms/Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.c
  Platform/AMD/GenoaBoard/Override/edk2/MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassBot.h
  Platform/AMD/GenoaBoard/Override/edk2/MdeModulePkg/Bus/Usb/UsbMassStorageDxe/UsbMassImpl.c
  Platform/AMD/GenoaBoard/Override/edk2/MdePkg/Library/SmmPciExpressLib/SmmPciExpressLib.inf
Owners: @abdattar, @changab, @pbgrimes

BeagleBoard: Drop BeagleBoard
  Platform/BeagleBoard/BeagleBoardPkg/BeagleBoardPkg.dec
  Platform/BeagleBoard/BeagleBoardPkg/BeagleBoardPkg.dsc
  Platform/BeagleBoard/BeagleBoardPkg/BeagleBoardPkg.fdf
  Platform/BeagleBoard/BeagleBoardPkg/ConfigurationHeader.bin
  Platform/BeagleBoard/BeagleBoardPkg/ConfigurationHeader.dat
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_boot_from_ram.inc
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_convert_symbols.sh
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_dummy.axf
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_hw_setup.inc
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_load_symbols.inc
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_symbols_macros.inc
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/rvi_unload_symbols.inc
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/trace32_load_symbols.cmm
  Platform/BeagleBoard/BeagleBoardPkg/Debugger_scripts/trace32_load_symbols_cygwin.cmm
  Platform/BeagleBoard/BeagleBoardPkg/Include/BeagleBoard.h
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/BeagleBoard.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/BeagleBoardHelper.S
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/BeagleBoardLib.inf
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/BeagleBoardMem.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/Clock.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/BeagleBoardLib/PadConfiguration.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/DxeHobPeCoffLib/DxeHobPeCoff.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/LzmaHobCustomDecompressLib/LzmaHobCustomDecompressLib.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/LzmaHobCustomDecompressLib/LzmaHobCustomDecompressLib.inf
  Platform/BeagleBoard/BeagleBoardPkg/Library/MemoryInitPeiLib/MemoryInitPeiLib.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/MemoryInitPeiLib/MemoryInitPeiLib.inf
  Platform/BeagleBoard/BeagleBoardPkg/Library/ResetSystemLib/ResetSystemLib.c
  Platform/BeagleBoard/BeagleBoardPkg/Library/ResetSystemLib/ResetSystemLib.inf
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/Arm/ArchPrePi.c
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/Arm/ModuleEntryPoint.S
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/LzmaDecompress.h
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/MainUniCore.c
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/PeiUniCore.inf
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/PrePi.c
  Platform/BeagleBoard/BeagleBoardPkg/PrePi/PrePi.h
  Platform/BeagleBoard/BeagleBoardPkg/Readme.rst
  Platform/BeagleBoard/BeagleBoardPkg/Tools/GNUmakefile
  Platform/BeagleBoard/BeagleBoardPkg/Tools/generate_image.c
  Platform/BeagleBoard/BeagleBoardPkg/Tools/makefile
  Platform/BeagleBoard/BeagleBoardPkg/Tools/replace.c
Owners: @ardbiesheuvel, @leiflindholm

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar
