Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

Sophgo/SG2042Pkg: Build SEC Data Hob
  Silicon/Sophgo/SG2042Pkg/Sec/SecMain.c
  Silicon/Sophgo/SG2042Pkg/Sec/SecMain.h
Owners: @vlsunil

Sophgo/SG2042Pkg: Update SG2042.dsc
  Platform/Sophgo/SG2042_EVB_Board/SG2042.dsc
Owners: @vlsunil

Bosc/XiangshanSeriesPkg: Update NanhuDev.dsc
  Platform/Bosc/XiangshanSeriesPkg/NanhuDev/NanhuDev.dsc
Owners: @vlsunil

Platform/ARM/JunoPkg: apply dynamic SMBIOS table generation for type 4 & 7
  Platform/ARM/JunoPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/JunoPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/JunoPkg/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @samimujawar

QemuOpenBoardPkg: Add missing library classes to dsc
  Platform/Qemu/QemuOpenBoardPkg/QemuOpenBoardPkg.dsc
Owners: @heatd

QemuOpenBoardPkg: Add MemDebugLogLib with DEBUG_TO_MEM condition
  Platform/Qemu/QemuOpenBoardPkg/QemuOpenBoardPkg.dsc
Owners: @heatd

KabylakeSiliconPkg: Fix mismatched function declaration
  Silicon/Intel/KabylakeSiliconPkg/SystemAgent/Library/PeiSaPolicyLib/MrcOemPlatform.h
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

MinPlatformPkg/TestPointCheckLib: Fix method declarations
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.c
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Platform/ARM/Morello: Remove unused variable
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
Owners: @samimujawar

Features/IpmiFeaturePkg: Only include MmStandalone components in MM_STANDALONE modules
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/Include/IpmiFeature.dsc
Owners: @nate-desimone, @SaiChaganty

Platform/Intel/WhitleyOpenBoardPkg: Fix build
  Platform/Intel/WhitleyOpenBoardPkg/PlatformPkg.dsc
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Platform/ASRockRack: Fallback to board product field for SMBIOS type 01
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @leiflindholm, @mdkinney

AMD EDKII Platform Code v1.0.0.8 for 5th Generation EPYC Processors
  Platform/AMD/AgesaPkg/Addendum/PciSegments/PciExpressPciCfg2/PciExpressPciCfg2.inf
  Platform/AMD/TurinBoard/Include/Dsc/PlatformCommonPcd.dsc.inc
  Platform/AMD/TurinBoard/Universal/BoardAcpiDxe/Dsdt/Dsdt.asl
Owners: @abdattar, @changab, @pbgrimes

Console Variable fix for TestPointCheckLib
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeCheckDevicePath.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/DxeTestPointCheckLib.inf
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

SiFive/U5SeriesPkg: Remove unnecessary includes
  Platform/SiFive/U5SeriesPkg/U5SeriesPkg.dec
Owners: @vlsunil

Bosc/XiangshanSeriesPkg: Retrieve booting info from SEC HOB data
  Silicon/Bosc/NanHuPkg/Sec/SecMain.c
  Silicon/Bosc/NanHuPkg/Sec/SecMain.h
Owners: @vlsunil

Bosc/XiangshanSeriesPkg: Update NanhuDev.dsc
  Platform/Bosc/XiangshanSeriesPkg/NanhuDev/NanhuDev.dsc
Owners: @vlsunil

SiFive/U5SeriesPkg: Fix FvbServicesRuntimeDxe missing IoLib
  Platform/SiFive/U5SeriesPkg/Universal/Dxe/RamFvbServicesRuntimeDxe/FvbServicesRuntimeDxe.inf
Owners: @vlsunil

Sophgo/SG2042Pkg: Retrieve booting info from SEC HOB data
  Silicon/Sophgo/SG2042Pkg/Sec/SecMain.c
  Silicon/Sophgo/SG2042Pkg/Sec/SecMain.h
Owners: @vlsunil

Silicon/Bosc/NanHuPkg: fix fdt32_to_cpu to Fdt32ToCpu
  Silicon/Bosc/NanHuPkg/Sec/Memory.c
Owners: @vlsunil

Silicon/Sophgo: fix fdt32_to_cpu to Fdt32ToCpu
  Silicon/Sophgo/SG2042Pkg/Sec/Memory.c
Owners: @vlsunil

Sophgo/SG2042Pkg: Update SG2042.dsc
  Platform/Sophgo/SG2042_EVB_Board/SG2042.dsc
Owners: @vlsunil

Platform/ARM/Library: Introduce CapsuleUpdateRuntimePolicyLib
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.c
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.inf
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.uni
Owners: @samimujawar

Platform/ARM: Add firmware update feature related GUID
  Platform/ARM/ARM.dec
Owners: @samimujawar

Platform/ARM: add FmpSystemFip.(dsc/fdf).inc for firmware update feature
  Platform/ARM/ARM.dec
  Platform/ARM/Features/Fwu/FmpSystemFipImage.dsc.inc
  Platform/ARM/Features/Fwu/FmpSystemFipImage.fdf.inc
Owners: @samimujawar

Platform/ARM/Library: Introduce Gpt partition access API used in FwsArmVExpressLib
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.c
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.h
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsMetadata API access API used in FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadataV2Ops.c
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Include/Library/FwsPlatformLib.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.inf
Owners: @samimujawar

Platform/ARM/Driver: Introduce FwuSmm Driver
  Platform/ARM/Drivers/FwuSmm/FwuSmm.c
  Platform/ARM/Drivers/FwuSmm/FwuSmm.inf
  Platform/ARM/Drivers/FwuSmm/FwuSmm.uni
Owners: @samimujawar

Platform/ARM/VExpressPkg/Library: Add firmware storage information
  Platform/ARM/ARM.dec
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.c
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.inf
  Platform/ARM/VExpressPkg/Library/NorFlashArmVExpressLib/NorFlashStMmInfo.c
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpress.dsc.inc
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP' StandaloneMm
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM/Features/Fwu: Add useful tools for firmware update feature
  Platform/ARM/Features/Fwu/GenFwuMetadata.py
  Platform/ARM/Features/Fwu/GenTestCert.py
  Platform/ARM/Features/Fwu/TestCerts.cnf
  Platform/ARM/Features/Fwu/gen_gpt_flash.sh
Owners: @samimujawar

Platform/ARM/Features/Fwu: Add Readme.txt for firmware update feature
  Platform/ARM/Features/Fwu/Readme.md
Owners: @samimujawar

Platform/Sophgo/SG2042_EVB_Board: Modify basic file of SG2042
  Platform/Sophgo/SG2042_EVB_Board/SG2042.dsc
  Platform/Sophgo/SG2042_EVB_Board/SG2042.fdf
  Platform/Sophgo/SG2042_EVB_Board/SG2042.fdf.inc
  Platform/Sophgo/SG2042_EVB_Board/VarStore.fdf.inc
Owners: @vlsunil

Silicon/Sophgo/SG2042Pkg: Modify .dec files
  Silicon/Sophgo/SG2042Pkg/SG2042Pkg.dec
  Silicon/Sophgo/Sophgo.dec
Owners: @vlsunil, @leiflindholm, @mdkinney

Silicon/Sophgo/SG2042Pkg/Sec: Modify files related to SEC phrase
  Silicon/Sophgo/SG2042Pkg/Sec/Memory.c
  Silicon/Sophgo/SG2042Pkg/Sec/Platform.c
  Silicon/Sophgo/SG2042Pkg/Sec/SecMain.c
Owners: @vlsunil

Silicon/Sophgo/SG2042Pkg: Modify driver of Smbios
  Silicon/Sophgo/SG2042Pkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @vlsunil

Silicon/Sophgo/SG2042Pkg: Add ACPI support
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/CommonDevices.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Cpu.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Ethernet.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Intc.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Mmc.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Pci.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/SGX4EvbDsdt.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Dsdt/Uart.asl
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Fadt.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Madt.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Mcfg.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Pptt.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Rhct.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/SGX4EvbAcpiTables.inf
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Slit.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Spcr.aslc
  Silicon/Sophgo/SG2042Pkg/AcpiTables/Srat.aslc
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/AcpiPlatform.c
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/AcpiPlatform.uni
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/AcpiPlatformDxe.inf
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/AcpiPlatformExtra.uni
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/UpdateAcpiTable.c
  Silicon/Sophgo/SG2042Pkg/Drivers/AcpiPlatformDxe/UpdateAcpiTable.h
  Silicon/Sophgo/SG2042Pkg/Include/SG2042AcpiHeader.h
Owners: @vlsunil

Silicon/Sophgo: Add some device drivers
  Silicon/Sophgo/Drivers/MmcDxe/ComponentName.c
  Silicon/Sophgo/Drivers/MmcDxe/Diagnostics.c
  Silicon/Sophgo/Drivers/MmcDxe/Mmc.c
  Silicon/Sophgo/Drivers/MmcDxe/Mmc.h
  Silicon/Sophgo/Drivers/MmcDxe/MmcBlockIo.c
  Silicon/Sophgo/Drivers/MmcDxe/MmcDebug.c
  Silicon/Sophgo/Drivers/MmcDxe/MmcDxe.inf
  Silicon/Sophgo/Drivers/MmcDxe/MmcIdentification.c
  Silicon/Sophgo/Drivers/NorFlashDxe/NorFlashDxe.c
  Silicon/Sophgo/Drivers/NorFlashDxe/NorFlashDxe.h
  Silicon/Sophgo/Drivers/NorFlashDxe/NorFlashDxe.inf
  Silicon/Sophgo/Include/MmcHost.h
  Silicon/Sophgo/Include/SpiNorFlash.h
  Silicon/Sophgo/Include/Spifmc.h
  Silicon/Sophgo/SG2042Pkg/Drivers/FlashFvbDxe/FlashFvbDxe.c
  Silicon/Sophgo/SG2042Pkg/Drivers/FlashFvbDxe/FlashFvbDxe.h
  Silicon/Sophgo/SG2042Pkg/Drivers/FlashFvbDxe/FlashFvbDxe.inf
  Silicon/Sophgo/SG2042Pkg/Drivers/SpifmcDxe/SpiFlashMasterController.c
  Silicon/Sophgo/SG2042Pkg/Drivers/SpifmcDxe/SpiFlashMasterController.h
  Silicon/Sophgo/SG2042Pkg/Drivers/SpifmcDxe/SpiFlashMasterController.inf
  Silicon/Sophgo/SG2042Pkg/Library/NorFlashInfoLib/NorFlashInfoLib.c
  Silicon/Sophgo/SG2042Pkg/Library/NorFlashInfoLib/NorFlashInfoLib.inf
  Silicon/Sophgo/SG2042Pkg/Library/SerialPortLib.c
  Silicon/Sophgo/SG2042Pkg/Library/SerialPortLib.h
  Silicon/Sophgo/SG2042Pkg/Library/SerialPortLib.inf
Owners: @leiflindholm, @mdkinney, @vlsunil

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar
