Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

Platform,{ADLINK,ASRockRack,Ampere}: Fix CPU speeds in OemMiscLib
  Platform/ADLINK/ComHpcAltPkg/Library/OemMiscLib/OemMiscLib.c
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
  Platform/Ampere/JadePkg/Library/OemMiscLib/OemMiscLib.c
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Platform/Ampere: Fix fw_ver.sh to avoid octal values
  Platform/Ampere/Tools/fw_ver.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/{ADLINK,ASRockRack}: Set SMBIOS chassis type to unknown
  Platform/ADLINK/ComHpcAltPkg/Library/OemMiscLib/OemMiscLib.c
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @bexcran, @leiflindholm, @mdkinney

Silicon/Ampere: Enable PCIe resizable BAR support
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Improve SLC cache and ANC strings
  Silicon/Ampere/AmpereAltraPkg/Drivers/CpuConfigDxe/CpuConfigStrings.uni
  Silicon/Ampere/AmpereAltraPkg/Drivers/PlatformInfoDxe/PlatformInfoStrings.uni
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ARM/VExpressPkg: Support Firmware Performance Data Table in ARM FVP
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
Owners: @samimujawar

Platform/Qualcomm/RB3Gen2: Add ArmTransferListLib for Sec
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
Owners: @leiflindholm, @b49020

Platform/Qualcomm/RB3Gen2: Update ArmMmuLib library path
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
Owners: @leiflindholm, @b49020

Silicon/Qualcomm/Kodiak: Enable booting edk2 at EL2
  Silicon/Qualcomm/KodiakPkg/Library/KodiakLib/KodiakHelper.S
  Silicon/Qualcomm/KodiakPkg/Library/KodiakLib/KodiakHelper.h
Owners: @leiflindholm, @b49020

Platform: VExpressPkg: Add ConfigurationManager SMBIOS type 4 & 7 tables
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.uni
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxe.inf
Owners: @samimujawar

Platform/RaspberryPi: Update uses of SMBIOS type 4 and 7 structures
  Platform/RaspberryPi/Drivers/PlatformSmbiosDxe/PlatformSmbiosDxe.c
Owners: @ardbiesheuvel, @leiflindholm

Platform/ARM: SgiPkg: Update uses of SMBIOS type 4 and 7 structures
  Platform/ARM/SgiPkg/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/SgiPkg/Drivers/SmbiosPlatformDxe/Type7CacheInformation.c
Owners: @samimujawar

Platform/ADLINK: Update uses of SMBIOS type 7 structures
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/ADLINK/ComHpcAltPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @bexcran

Platform/Ampere: JadePkg: Update uses of SMBIOS type 7 structures
  Platform/Ampere/JadePkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/Ampere/JadePkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Sophgo: SG2042Pkg: Update uses of SMBIOS type 7 structures
  Silicon/Sophgo/SG2042Pkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @vlsunil

Silicon/Phytium: FT2000-4Pkg: Update uses of SMBIOS type 4 and 7 structures
  Silicon/Phytium/FT2000-4Pkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @leiflindholm

Platform/Intel: Update uses of SMBIOS type 7 structures
  Platform/Intel/Vlv2TbltDevicePkg/SmBiosMiscDxe/MiscProcessorCacheFunction.c
Owners: @nate-desimone, @SaiChaganty, @yqian4

Platform/ASRockRack: Update uses of SMBIOS type 7 structures
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @leiflindholm, @mdkinney

Platform/ARM: JunoPkg: Update uses of SMBIOS type 4 and 7 structures
  Platform/ARM/JunoPkg/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @samimujawar

Silicon/Marvell: Update uses of SMBIOS type 4 and 7 structures
  Silicon/Marvell/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @ndhillonm, @wojtas-marcin

Platform/ARM/Drivers: define gFdtVariableGuid in FdtPlatformDxe.dec
  Platform/ARM/Drivers/FdtPlatformDxe/FdtPlatformDxe.dec
Owners: @samimujawar

Remove unnecessary packages
  Platform/Intel/MinPlatformPkg/PlatformInit/Library/SecBoardInitLibNull/SecBoardInitLibNull.inf
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Platform/ARM/JunoPkg: Norflash area for StandaloneMm
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJuno.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmLib.inf
Owners: @samimujawar

Platform/ARM/JunoPkg: support StandaloneMm for Juno
  Platform/ARM/JunoPkg/ArmJuno.dsc
  Platform/ARM/JunoPkg/ArmJuno.fdf
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM/JunoPkg: Disable shadow copying of BFV in StMM
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
Owners: @samimujawar

Platform/ARM: Commonize PlatformStandaloneMm.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc.inc
Owners: @samimujawar

Platform/ARM/VExpressPkg: use UefiDevicePathLibBase.inf in StandaloneMm
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
Owners: @samimujawar

Silicon/Qualcomm/Kodiak: Enable booting edk2 at EL2
  Silicon/Qualcomm/KodiakPkg/Library/KodiakLib/KodiakHelper.S
  Silicon/Qualcomm/KodiakPkg/Library/KodiakLib/KodiakHelper.h
Owners: @leiflindholm, @b49020

Platform/ARM: VExpressPkg: Implement Platform Configuration menu
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpressPkg.dec
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.c
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfigDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfr.vfr
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfrStrings.uni
  Platform/ARM/VExpressPkg/Include/Guid/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Include/PlatformConfigStructs.h
Owners: @samimujawar

ManageabilityPkg/Kcs: Add support for PEI KCS transport interface use
  Features/ManageabilityPkg/Library/ManageabilityTransportKcsLib/BaseManageabilityTransportKcs.inf
  Features/ManageabilityPkg/Library/ManageabilityTransportKcsLib/KcsCommon.c
  Features/ManageabilityPkg/Library/ManageabilityTransportKcsLib/ManageabilityTransportKcs.c
  Features/ManageabilityPkg/Library/ManageabilityTransportKcsLib/ManageabilityTransportKcs.h
  Features/ManageabilityPkg/Library/ManageabilityTransportKcsLib/ManageabilityTransportKcs.uni
  Features/ManageabilityPkg/ManageabilityPkg.dsc
  Platform/AMD/GenoaBoard/Include/Dsc/ProjectCommon.inc.dsc
  Platform/AMD/TurinBoard/Include/Dsc/ProjectCommon.inc.dsc
Owners: @changab, @abdattar, @pbgrimes

Ampere/buildfw.sh: Support storing LinuxBoot firmware in UEFI Extra region
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Qualcomm: Add support for UFS driver
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.c
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.inf
  Silicon/Qualcomm/QcomPlatformPkg.dec
Owners: @leiflindholm, @b49020

Platform/Qualcomm/RB3Gen2: Enable UFS driver
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
Owners: @leiflindholm, @b49020

Platform/Ampere/buildfw.sh: add verbosity options
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Qualcomm/RB3Gen2: Enable UFS driver
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
Owners: @leiflindholm, @b49020

Silicon/Qualcomm: Add support for UFS driver
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.c
  Silicon/Qualcomm/Drivers/QcomUfsHcDxe/QcomUfsHcDxe.inf
  Silicon/Qualcomm/QcomPlatformPkg.dec
Owners: @leiflindholm, @b49020

Platform/Qualcomm/RB3Gen2: Add DTB loading support
  Platform/Qualcomm/RB3Gen2/DeviceTree/DTB.inf
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
  Platform/Qualcomm/RB3Gen2/Readme.md
Owners: @leiflindholm, @b49020

Platform/ARM: VExpressPkg: Implement Platform Configuration menu
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpressPkg.dec
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.c
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfigDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfr.vfr
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfrStrings.uni
  Platform/ARM/VExpressPkg/Include/Guid/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Include/PlatformConfigStructs.h
Owners: @samimujawar

Platform/ARM/VExpressPkg: Firmware Performance Data Table for ARM FVP
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
Owners: @samimujawar

Ampere: Update 'ATF' to 'TF-A'
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.fdf
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2QLinuxBoot.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2TLinuxBoot.fdf
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/Ampere/JadePkg/Drivers/AcpiPlatformDxe/AcpiApei.c
  Platform/Ampere/JadePkg/Drivers/AcpiPlatformDxe/AcpiApei.h
  Platform/Ampere/JadePkg/Drivers/AcpiPlatformDxe/AcpiDsdt.c
  Platform/Ampere/JadePkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/Ampere/JadePkg/Jade.fdf
  Platform/Ampere/JadePkg/JadeLinuxBoot.fdf
  Platform/Ampere/JadePkg/PlatformPortingGuide.md
  Platform/Ampere/Tools/fwflash.sh
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraLinuxBootPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/Drivers/CpuConfigDxe/CpuConfigDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/MemInfoDxe/MemInfoNvramLib.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/NVParamRuntimeDxe/NVParamRuntimeDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/RasConfigDxe/RasConfigDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/RootComplexConfigDxe/RootComplexConfigDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/SystemFirmwareUpdateDxe/SystemFirmwareUpdateDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/SystemFirmwareUpdateDxe/SystemFirmwareUpdateDxe.h
  Silicon/Ampere/AmpereAltraPkg/Drivers/TFAHobPei/TFAHobPeim.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/TFAHobPei/TFAHobPeim.inf
  Silicon/Ampere/AmpereAltraPkg/Drivers/Tcg2Pei/Tcg2Pei.c
  Silicon/Ampere/AmpereAltraPkg/Include/Library/FirmwareUpdateLib.h
  Silicon/Ampere/AmpereAltraPkg/Include/Library/NVParamLib.h
  Silicon/Ampere/AmpereAltraPkg/Include/NVParamDef.h
  Silicon/Ampere/AmpereAltraPkg/Library/AmpereCpuLib/AmpereCpuLibCommon.c
  Silicon/Ampere/AmpereAltraPkg/Library/PlatformFlashAccessLib/PlatformFlashAccessLib.c
  Silicon/Ampere/AmpereAltraPkg/Library/SystemFirmwareInterfaceLib/SystemFirmwareInterfaceLib.c
  Silicon/Ampere/AmpereAltraPkg/Library/SystemFirmwareUpdateLib/SystemFirmwareUpdateLibCommon.c
Owners: @bexcran, @samimujawar, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar
