Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Ampere/ASRockRack: handle move of RealTimeClockLib.h
  Platform/ASRockRack/AltraBoardPkg/Library/ISL1208RealTimeClockLib/ISL1208RealTimeClockLib.inf
Owners: @leiflindholm, @mdkinney

Platform/ARM: JunoPkg: Update uses of SMBIOS type 4 and 7 structures
  Platform/ARM/JunoPkg/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @samimujawar

Platform/ARM: SgiPkg: Update uses of SMBIOS type 4 and 7 structures
  Platform/ARM/SgiPkg/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/SgiPkg/Drivers/SmbiosPlatformDxe/Type7CacheInformation.c
Owners: @samimujawar

Platform/ADLINK: Update uses of SMBIOS type 7 structures
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/ADLINK/ComHpcAltPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @bexcran

Platform/ASRockRack: Update uses of SMBIOS type 7 structures
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @leiflindholm, @mdkinney

Platform/Ampere: JadePkg: Update uses of SMBIOS type 7 structures
  Platform/Ampere/JadePkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
  Platform/Ampere/JadePkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheFunction.c
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Intel: Update uses of SMBIOS type 7 structures
  Platform/Intel/Vlv2TbltDevicePkg/SmBiosMiscDxe/MiscProcessorCacheFunction.c
Owners: @nate-desimone, @SaiChaganty, @yqian4

Platform/RaspberryPi: Update uses of SMBIOS type 4 and 7 structures
  Platform/RaspberryPi/Drivers/PlatformSmbiosDxe/PlatformSmbiosDxe.c
Owners: @ardbiesheuvel, @leiflindholm

Silicon/Marvell: Update uses of SMBIOS type 4 and 7 structures
  Silicon/Marvell/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @ndhillonm, @wojtas-marcin

Silicon/Phytium: FT2000-4Pkg: Update uses of SMBIOS type 4 and 7 structures
  Silicon/Phytium/FT2000-4Pkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @leiflindholm

Silicon/Sophgo: SG2042Pkg: Update uses of SMBIOS type 7 structures
  Silicon/Sophgo/SG2042Pkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
Owners: @vlsunil

Ampere/ASRockRack: handle move of RealTimeClockLib.h
  Platform/ASRockRack/AltraBoardPkg/Library/ISL1208RealTimeClockLib/ISL1208RealTimeClockLib.inf
Owners: @leiflindholm, @mdkinney

Platform/ARM/JunoPkg: Norflash area for StandaloneMm
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJuno.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmInfo.c
  Platform/ARM/JunoPkg/Library/NorFlashJunoLib/NorFlashJunoStMmLib.inf
Owners: @samimujawar

Platform/ARM/JunoPkg: support StandaloneMm for Juno
  Platform/ARM/JunoPkg/ArmJuno.dsc
  Platform/ARM/JunoPkg/ArmJuno.fdf
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM/JunoPkg: Disable shadow copying of BFV in StMM
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
Owners: @samimujawar

Platform/ARM: Commonise StandaloneMm dsc file
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc.inc
Owners: @samimujawar

Platform/ARM/JunoPkg: fix Juno build failure
  Platform/ARM/JunoPkg/ArmJuno.dsc
  Platform/ARM/JunoPkg/PlatformStandaloneMm.dsc
Owners: @samimujawar

OutOfBandManagement/IpmiFeaturePkg: Add missing EFIAPI
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/Library/IpmiBaseLib/IpmiBaseLib.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/Library/SmmIpmiBaseLib/SmmIpmiBaseLib.c
Owners: @nate-desimone, @SaiChaganty

OutOfBandManagement/IpmiFeaturePkg: Add missing EFIAPI
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericIpmi/Pei/PeiGenericIpmi.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericIpmi/Pei/PeiGenericIpmi.h
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericIpmi/Pei/PeiIpmiHooks.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericIpmi/Pei/PeiIpmiHooks.h
Owners: @nate-desimone, @SaiChaganty

Platform/ARM/Morello: Move NT_FW_CONFIG parsing to separate PEI
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibSoc.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Add Platform Library support for Morello SoC
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibSoc.inf
Owners: @samimujawar

Platform/ARM/Morello: Add FVP GOP config and GOP DDR carve-out
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Common.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Fvp.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/LcdPlatformLibMorelloFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Segment Library
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.c
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Add PlatformDxe for Morello SoC
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeSoc.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeSoc.inf
Owners: @samimujawar

Platform/ARM/Morello: Add ConfigurationManager for Morello SoC
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerSoc.dsc.inc
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibSoc.c
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibSoc.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Change variable name related to AXI
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
Owners: @samimujawar

Platform/ARM/Morello: Ensure GOP is enabled at runtime in FVP
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Change variable name related to AXI
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar

Platform/ARM/Morello: Add the Realtek 8111GS support to Morello SoC
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Segregate the Runtime Variable support
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Fix formatting
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/Platform.h
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/VirtioDevices.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMem.c
Owners: @samimujawar

Platform/ARM/Morello: Set PCDs related to PCIe and CCIX in FVP
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Use common PCD
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeFvp.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Implement LcdHwLib for the ARM Mali Dxx
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/Driver.c
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/LcdHwMaliDxxLib.inf
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/RegisterMap.h
Owners: @samimujawar

Platform/ARM/Morello: Add ACPI bindings for PCIe & CCIX
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/SsdtPciSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.h
Owners: @samimujawar

Platform/ARM/Morello: Persistent storage for Morello
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Expose the Device Tree if it is available
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: NOR flash Dxe Driver for Morello
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiDxe.c
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiDxe.inf
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiReg.h
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/NorFlash.c
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/NorFlash.h
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/NorFlashFvb.c
  Platform/ARM/Morello/MorelloPlatform.dec
Owners: @samimujawar

Platform/ARM/Morello: Enable AP QSPI flash region
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
Owners: @samimujawar

Platform/ARM/Morello/FVP: Add the SMMU, GIC ITS and Timer memory regions
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar
