Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Platform/ARM/Morello: Fix PCIe ATS and Memory Attributes
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerSoc.c
Owners: @samimujawar

Platform/ARM/Morello: Using local definition of NorFlashPlatformLib
  Platform/ARM/Morello/Drivers/CadenceQspiDxe/CadenceQspiDxe.inf
  Platform/ARM/Morello/Library/NorFlashLib/NorFlashLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table for TF-A
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Reserve the ECAM area in ACPI namespace
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/SsdtPciSoc.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeSoc.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table for SCP firmware
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.inf
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/MorelloPlatform.dec
Owners: @samimujawar

Platform/ARM/Morello: Populate Processor Version string dynamically
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS tables for MCC and PCC
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Soc.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
Owners: @samimujawar

Platform/ARM/Morello: Add SMBIOS support
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.h
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type0BiosInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type16PhysicalMemoryArray.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type17MemoryDevice.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type19MemoryArrayMappedAddress.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type1SystemInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type32SystemBootInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type3SystemEnclosure.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type4ProcessorInformation.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type7CacheInformation.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
  Platform/ARM/Morello/MorelloPlatformSoc.fdf
Owners: @samimujawar

Platform/ARM/Morello: Fix SMBIOS Type 3 (System Enclosure) length
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type3SystemEnclosure.c
Owners: @samimujawar

Platform/ARM/Morello: Add Type45 SMBIOS table support for EDK II
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.c
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.h
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
Owners: @samimujawar

Platform/ARM/Morello: Add SoC GOP config
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemSoc.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibSoc.inf
  Platform/ARM/Morello/MorelloPlatformSoc.dsc
Owners: @samimujawar

Platform/ARM/Morello: Add UIDs to CoreSight devices
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtSoc.asl
Owners: @samimujawar

Platform/ARM/Morello: Fix Type45 table version from compressed format
  Platform/ARM/Morello/Drivers/SmbiosPlatformDxe/Type45FirmwareInventoryInformation.c
Owners: @samimujawar

MinPlatformPkg: Finish SecBoardInitLib cleanup.
  Platform/Intel/MinPlatformPkg/PlatformInit/Library/SecBoardInitLibNull/SecBoardInitLib.c
  Platform/Intel/MinPlatformPkg/PlatformInit/Library/SecBoardInitLibNull/SecBoardInitLibNull.inf
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Platform/ARM/VExpressPkg: add default PeilessSecMeasureLib
  Platform/ARM/VExpressPkg/ArmVExpress.dsc.inc
Owners: @samimujawar

Platform/RaspberryPi: add default PeilessSecMeasureLib
  Platform/RaspberryPi/RPi3/RPi3.dsc
  Platform/RaspberryPi/RPi4/RPi4.dsc
Owners: @ardbiesheuvel, @leiflindholm

SiliconAMD/Xilinx: add default PeilessSecMeasureLib
  Silicon/AMD/Xilinx/CommonPkg/CommonPkg.dsc.inc
Owners: @michalsimek

Platform/Marvel/OdysseyPkg: add default PeilessSecMeasureLib
  Platform/Marvell/OdysseyPkg/OdysseyPkg.dsc
Owners: @ndhillonm, @wojtas-marcin

Platform/Phytium/DurianPkg: add default PeilessSecMeasureLib
  Platform/Phytium/DurianPkg/DurianPkg.dsc
Owners: @leiflindholm

Platform/ASRockRack/AltraBoardPkg: fix SMBIOS cache size 2 type
  Platform/ASRockRack/AltraBoardPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @leiflindholm, @mdkinney

Platform/ADLINK: Fix SMBIOS_CACHE_SIZE_2 typo
  Platform/ADLINK/ComHpcAltPkg/Library/OemMiscLib/OemMiscLib.c
Owners: @bexcran

Platform/ASRockRack: Fix cache size value
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type07/PlatformCacheData.c
Owners: @leiflindholm, @mdkinney

Platform/ASRockRack: Improve board settings configuration
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2QBoardSetting.cfg
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2TBoardSetting.cfg
Owners: @leiflindholm, @mdkinney

Ampere/buildfw.sh: Support Altra platform secure boot
  Platform/ADLINK/ComHpcAltPkg/ComHpcAltCapsule.fdf
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2QCapsule.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2TCapsule.fdf
  Platform/Ampere/JadePkg/Capsule/SystemFirmwareUpdateConfig/SystemFirmwareUpdateConfig.ini
  Platform/Ampere/JadePkg/JadeCapsule.fdf
  Platform/Ampere/Tools/GenerateSecureBootKeys.sh
  Platform/Ampere/buildfw.sh
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Ampere/JadePkg: Re-enable rebootless in-band firmare update
  Platform/Ampere/JadePkg/Jade.fdf
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ARM/Features/Fwu: Add Readme.txt for firmware update feature
  Platform/ARM/Features/Fwu/Readme.md
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsMetadata API access API used in FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadataV2Ops.c
Owners: @samimujawar

Platform/ARM: add FmpSystemFip.(dsc/fdf).inc for firmware update feature
  Platform/ARM/ARM.dec
  Platform/ARM/Features/Fwu/FmpSystemFipImage.dsc.inc
  Platform/ARM/Features/Fwu/FmpSystemFipImage.fdf.inc
Owners: @samimujawar

Platform/ARM/Driver: Introduce FwuSmm Driver
  Platform/ARM/Drivers/FwuSmm/FwuSmm.c
  Platform/ARM/Drivers/FwuSmm/FwuSmm.inf
  Platform/ARM/Drivers/FwuSmm/FwuSmm.uni
Owners: @samimujawar

Platform/ARM/Library: Introduce Gpt partition access API used in FwsArmVExpressLib
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.c
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.h
Owners: @samimujawar

Platform/ARM/VExpressPkg/Library: Add firmware storage information
  Platform/ARM/ARM.dec
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.c
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.inf
  Platform/ARM/VExpressPkg/Library/NorFlashArmVExpressLib/NorFlashStMmInfo.c
Owners: @samimujawar

Platform/ARM: Add firmware update feature related GUID
  Platform/ARM/ARM.dec
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Include/Library/FwsPlatformLib.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.inf
Owners: @samimujawar

Platform/ARM/Library: Introduce CapsuleUpdateRuntimePolicyLib
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.c
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.inf
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.uni
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpress.dsc.inc
Owners: @samimujawar

Platform/ARM/Features/Fwu: Add useful tools for firmware update feature
  Platform/ARM/Features/Fwu/GenFwuMetadata.py
  Platform/ARM/Features/Fwu/GenTestCert.py
  Platform/ARM/Features/Fwu/TestCerts.cnf
  Platform/ARM/Features/Fwu/gen_gpt_flash.sh
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP' StandaloneMm
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM: VExpressPkg: Implement Platform Configuration menu
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpressPkg.dec
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.c
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/ArmVExpressPlatformConfigDxe.inf
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfr.vfr
  Platform/ARM/VExpressPkg/Drivers/ArmVExpressPlatformConfigDxe/PlatformConfigVfrStrings.uni
  Platform/ARM/VExpressPkg/Include/Guid/ArmVExpressPlatformConfig.h
  Platform/ARM/VExpressPkg/Include/PlatformConfigStructs.h
Owners: @samimujawar

MinPlatformPkg: TestPointCheckLib: Add AMD SmBase Check
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/SmmCheckPaging.c
  Platform/Intel/MinPlatformPkg/Test/Library/TestPointCheckLib/SmmTestPointCheckLib.inf
Owners: @ChaselChiu, @nate-desimone, @SaiChaganty

Features/Intel: Failed to check return status
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/KeyService.c
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationSmm.c
Owners: @dandanbi, @nate-desimone, @SaiChaganty
