Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Platform/ARM/SgiPkg: Adapt new SMBIOS structures definition
  Platform/ARM/SgiPkg/Drivers/SmbiosPlatformDxe/Type7CacheInformation.c
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add virtio net device in ACPI
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/AslTables/Dsdt.asl
Owners: @samimujawar

Platform/ARM/VExpressPkg: Update size of virtio blk device
  Platform/ARM/VExpressPkg/ConfigurationManager/ConfigurationManagerDxe/AslTables/Dsdt.asl
Owners: @samimujawar

Features/Intel: Use RngLib to get Random number.
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/KeyService.c
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationStandaloneMm.inf
Owners: @dandanbi, @nate-desimone, @SaiChaganty

Features/Intel: Improper Return Status
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationSmm.c
Owners: @dandanbi, @nate-desimone, @SaiChaganty

Features/Intel:Failure to Clear Password Data
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationSmm.c
Owners: @dandanbi, @nate-desimone, @SaiChaganty

build_bios.py: Fix the Build Failure on Unix System
  Platform/Intel/build_bios.py
Owners: @nate-desimone, @SaiChaganty

Ext4Pkg: remove unused variable in collation code
  Features/Ext4Pkg/Ext4Dxe/Collation.c
Owners: @heatd

Platform/Silicon: update multiple platforms for BaseFdtLib
  Platform/Bosc/XiangshanSeriesPkg/NanhuDev/NanhuDev.dsc
  Platform/Loongson/LoongArchQemuPkg/Library/QemuFwCfgLib/QemuFwCfgPeiLib.c
  Platform/Loongson/LoongArchQemuPkg/Library/SerialPortLib/EarlySerialPortLib16550.c
  Silicon/Bosc/NanHuPkg/Sec/Memory.c
  Silicon/Bosc/NanHuPkg/Sec/Platform.c
  Silicon/Marvell/Applications/DumpFdt/DumpFdt.c
  Silicon/NXP/NxpQoriqLs.dsc.inc
  Silicon/Phytium/PhytiumCommonPkg/PhytiumCommonPkg.dsc.inc
  Silicon/Sophgo/SG2042Pkg/Sec/Memory.c
  Silicon/Sophgo/SG2042Pkg/Sec/Platform.c
Owners: @vlsunil, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @leiflindholm

Drivers/OptionRomPkg: Remove gEfiScsiPassThruProtocolGuid
  Drivers/OptionRomPkg/AtapiPassThruDxe/AtapiPassThru.c
  Drivers/OptionRomPkg/AtapiPassThruDxe/AtapiPassThru.h
  Drivers/OptionRomPkg/AtapiPassThruDxe/AtapiPassThruDxe.inf
  Drivers/OptionRomPkg/OptionRomPkg.dec
  Drivers/OptionRomPkg/OptionRomPkg.dsc
  Drivers/OptionRomPkg/ReadMe.txt
Owners: @niruiyu

Ext4Pkg: add LoongArch support
  Features/Ext4Pkg/Ext4Pkg.dsc
Owners: @heatd

Updating Platform .dsc files to include Tpm2HelpLib.
  Platform/AMD/VanGoghBoard/ChachaniBoardPkg/Project.dsc
  Platform/Intel/MinPlatformPkg/Include/Dsc/CoreCommonLib.dsc
  Platform/Intel/Vlv2TbltDevicePkg/PlatformPkgIA32.dsc
  Platform/Intel/Vlv2TbltDevicePkg/PlatformPkgX64.dsc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
  Silicon/Intel/KabylakeSiliconPkg/KabylakeSiliconPkg.dsc
Owners: @abdattar, @changab, @exinghr, @pbgrimes, @ChaselChiu, @nate-desimone, @SaiChaganty, @yqian4, @nhivp, @bexcran, @chuongtranle

Platform: Use FvLib from MdePkg instead of StandaloneMmPkg
  Platform/ARM/SgiPkg/SgiPlatformMm.dsc.inc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc.inc
  Platform/Intel/MinPlatformPkg/Include/Dsc/CoreDxeLib.dsc
  Platform/StandaloneMm/PlatformStandaloneMmPkg/PlatformStandaloneMmRpmb.dsc
Owners: @samimujawar, @ChaselChiu, @nate-desimone, @SaiChaganty, @apalos

Platform/ARM/Library: Introduce CapsuleUpdateRuntimePolicyLib
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.c
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.inf
  Platform/ARM/Library/CapsuleUpdateRuntimePolicyLib/CapsuleUpdateRuntimePolicyLib.uni
Owners: @samimujawar

Platform/ARM: Add firmware update feature related GUID
  Platform/ARM/ARM.dec
Owners: @samimujawar

Platform/ARM: add FmpSystemFip.(dsc/fdf).inc for firmware update feature
  Platform/ARM/ARM.dec
  Platform/ARM/Features/Fwu/FmpSystemFipImage.dsc.inc
  Platform/ARM/Features/Fwu/FmpSystemFipImage.fdf.inc
Owners: @samimujawar

Platform/ARM/Library: Introduce Gpt partition access API used in FwsArmVExpressLib
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.c
  Platform/ARM/Library/FwsGptSystemFipLib/DiskGpt.h
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsMetadata API access API used in FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadata.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsMetadataV2Ops.c
Owners: @samimujawar

Platform/ARM/Library: Introduce FwsGptSystemFipLib
  Platform/ARM/ARM.dec
  Platform/ARM/Include/Library/FwsPlatformLib.h
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.c
  Platform/ARM/Library/FwsGptSystemFipLib/FwsGptSystemFipLib.inf
Owners: @samimujawar

Platform/ARM/Driver: Introduce FwuSmm Driver
  Platform/ARM/Drivers/FwuSmm/FwuSmm.c
  Platform/ARM/Drivers/FwuSmm/FwuSmm.inf
  Platform/ARM/Drivers/FwuSmm/FwuSmm.uni
Owners: @samimujawar

Platform/ARM/VExpressPkg/Library: Add firmware storage information
  Platform/ARM/ARM.dec
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.c
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.inf
  Platform/ARM/VExpressPkg/Library/NorFlashArmVExpressLib/NorFlashStMmInfo.c
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.dsc
  Platform/ARM/VExpressPkg/ArmVExpress-FVP-AArch64.fdf
  Platform/ARM/VExpressPkg/ArmVExpress.dsc.inc
Owners: @samimujawar

Platform/ARM/VExpressPkg: Add Firmware update feature on Base FVP' StandaloneMm
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.dsc
  Platform/ARM/VExpressPkg/PlatformStandaloneMm.fdf
Owners: @samimujawar

Platform/ARM/Features/Fwu: Add useful tools for firmware update feature
  Platform/ARM/Features/Fwu/GenFwuMetadata.py
  Platform/ARM/Features/Fwu/GenTestCert.py
  Platform/ARM/Features/Fwu/TestCerts.cnf
  Platform/ARM/Features/Fwu/gen_gpt_flash.sh
Owners: @samimujawar

Platform/ARM/Features/Fwu: Add Readme.txt for firmware update feature
  Platform/ARM/Features/Fwu/Readme.md
Owners: @samimujawar

Platform/RISC-V/RiscVPlatformSecLib: Actually reserve handoff region
  Platform/RISC-V/PlatformPkg/Library/RiscVPlatformSecLib/SecEntry.S
Owners: @vlsunil

Platform/Loongson: Add SATA support
  Platform/Loongson/LoongArchQemuPkg/Loongson.dsc
  Platform/Loongson/LoongArchQemuPkg/Loongson.fdf
Owners: @bibo-mao, @kilaterlee, @lixianglai

Features/Intel: Enhanced Password complexity
  Features/Intel/UserInterface/UserAuthFeaturePkg/Library/UserPasswordUiLib/UserPasswordUiLib.c
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthentication2Dxe.c
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationDxe.c
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationSmm.c
Owners: @dandanbi, @nate-desimone, @SaiChaganty

Platform/RaspberryPi: Add support for Raspberry Pi Zero 2 W
  Platform/RaspberryPi/Drivers/RpiFirmwareDxe/RpiFirmwareDxe.c
Owners: @ardbiesheuvel, @leiflindholm

QemuOpenBoardPkg: Add missing libraries to dsc
  Platform/Qemu/QemuOpenBoardPkg/QemuOpenBoardPkg.dsc
Owners: @heatd

ManageabilityPkg: IpmiCommandLib: IPMI boot initiator mailbox
  Features/ManageabilityPkg/Library/IpmiCommandLib/IpmiCommandLib.inf
  Features/ManageabilityPkg/Library/IpmiCommandLib/IpmiCommandLibNetFnChassis.c
Owners: @changab

Features/Intel:Fix for MSVC variable build error
  Features/Intel/UserInterface/UserAuthFeaturePkg/UserAuthenticationDxeSmm/UserAuthenticationSmm.c
Owners: @dandanbi, @nate-desimone, @SaiChaganty

Platform/ARM/Morello/FVP: Enable Semi hosting
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Update virtio device sizes
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

OutOfBandManagement/IpmiFeaturePkg: Add missing EFIAPI
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/BmcElog/Dxe/BmcElog.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/BmcElog/Pei/BmcElog.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/BmcElog/Smm/BmcElog.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericElog/Dxe/GenericElog.c
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/GenericElog/Smm/GenericElog.c
Owners: @nate-desimone, @SaiChaganty

OutOfBandManagement/IpmiFeaturePkg: fix assert on freeing NULL pointer
  Features/Intel/OutOfBandManagement/IpmiFeaturePkg/Library/BmcInterfaceCommonAccess/SsifInterfaceLib/SmmSsifInterfaceLib.c
Owners: @nate-desimone, @SaiChaganty

Platform/ARM/Morello: Port PCI Segment Library
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.c
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Express library
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.c
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.uni
Owners: @samimujawar

Platform/ARM/Morello: Enable the network stack for FVP
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Fix formatting
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/Platform.h
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/VirtioDevices.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMem.c
Owners: @samimujawar
