Repository tianocore/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @michalsimek, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @b49020, @apalos

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Xilinx
/Silicon/AMD/Xilinx/** @michalsimek
/Platform/AMD/XilinxBoard/** @michalsimek

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @leiflindholm

# Qualcomm platforms and silicon
/Platform/Qualcomm/** @leiflindholm @b49020
/Silicon/Qualcomm/** @leiflindholm @b49020

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @vlsunil

/Silicon/RISC-V/** @vlsunil

/Silicon/SiFive/** @vlsunil

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Silicon/Sophgo/SG2042Pkg: Fix a PCD
  Silicon/Sophgo/SG2042Pkg/SG2042Pkg.dec
Owners: @vlsunil

Silicon/Sophgo: Fix some bugs when compiling
  Platform/Sophgo/SG2042_EVB_Board/SG2042.dsc
  Silicon/Sophgo/Drivers/MmcDxe/MmcDxe.inf
  Silicon/Sophgo/SG2042Pkg/Drivers/SdHostDxe/SdHci.c
  Silicon/Sophgo/SG2042Pkg/Drivers/SdHostDxe/SdHci.h
  Silicon/Sophgo/SG2042Pkg/Drivers/SdHostDxe/SdHostDxe.c
Owners: @vlsunil, @leiflindholm, @mdkinney

IntelSiliconPkg: Add FIT Record 0xA (TXT Policy) definition
  Silicon/Intel/IntelSiliconPkg/Include/IndustryStandard/FirmwareInterfaceTable.h
Owners: @nate-desimone, @niruiyu, @SaiChaganty

Platform/ARM/SgiPkg: Enable PCIE
  Platform/ARM/SgiPkg/RdN2/RdN2.dsc
  Platform/ARM/SgiPkg/RdN2Cfg1/RdN2Cfg1.dsc
  Platform/ARM/SgiPkg/RdN2Cfg2/RdN2Cfg2.dsc
  Platform/ARM/SgiPkg/RdN2Cfg3/RdN2Cfg3.dsc
  Platform/ARM/SgiPkg/RdV3/RdV3.dsc
  Platform/ARM/SgiPkg/RdV3Cfg1/RdV3Cfg1.dsc
  Platform/ARM/SgiPkg/RdV3Cfg2/RdV3Cfg2.dsc
  Platform/ARM/SgiPkg/RdV3R1/RdV3R1.dsc
Owners: @samimujawar

Features/ManageabilityPkg: Fix error return of IpmiGetSystemUuid
  Features/ManageabilityPkg/Library/IpmiCommandLib/IpmiCommandLibNetFnApp.c
Owners: @changab

Platform/ASRockRack: Update the board settings with 8 DIMMs
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2QBoardSetting.cfg
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2TBoardSetting.cfg
  Platform/ASRockRack/AltraBoardPkg/Drivers/SmbiosPlatformDxe/Type17/PlatformMemoryDeviceFunction.c
Owners: @leiflindholm, @mdkinney

Platform/ASRockRack: Change firmware vendor to "EDK II"
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
Owners: @leiflindholm, @mdkinney

Platform/ASRockRack: Update the board name in PlatformInfoDxe per product
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
  Platform/Ampere/JadePkg/Jade.dsc
  Silicon/Ampere/AmpereAltraPkg/Drivers/PlatformInfoDxe/PlatformInfoDxe.c
  Silicon/Ampere/AmpereAltraPkg/Drivers/PlatformInfoDxe/PlatformInfoDxe.inf
Owners: @leiflindholm, @mdkinney, @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Fix OemMiscLib in JadePkg
  Platform/Ampere/JadePkg/Library/OemMiscLib/OemMiscLib.c
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere/buildfw.sh: Allow HTTP connections by default
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Bump default SYS and TF-A version to 2.10.20250506
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Switch xtrace to errexit in buildfw.sh
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Don't include GPL (X86 emulator) code by default
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
  Platform/Ampere/buildfw.sh
Owners: @leiflindholm, @mdkinney, @nhivp, @bexcran, @chuongtranle

Platform/ASRockRack: Fix builds without buildfw.sh
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.fdf
  Platform/Ampere/buildfw.sh
Owners: @leiflindholm, @mdkinney, @nhivp, @bexcran, @chuongtranle

AMD EDKII Platform Code v1.0.0.9 for 5th Generation EPYC Processors
  Platform/AMD/TurinBoard/Universal/BoardAcpiDxe/Dsdt/AmdPci.asi
Owners: @abdattar, @changab, @pbgrimes

Platform/ARM/Morello: Add Morello capability related changes
  Platform/ARM/Morello/MorelloCap.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Segment Library
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.c
  Platform/ARM/Morello/Library/PciSegmentLib/PciSegmentLib.inf
Owners: @samimujawar

Platform/ARM/Morello: Rename PlatformLib.inf file
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Fix formatting
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.c
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerFvp.h
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/Platform.h
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/VirtioDevices.c
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMem.c
Owners: @samimujawar

Platform/ARM/Morello: Port PCI Express library
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.c
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.uni
Owners: @samimujawar

Platform/ARM/Morello/FVP: Add the SMMU, GIC ITS and Timer memory regions
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar

Platform/ARM/Morello: Add FVP GOP config and GOP DDR carve-out
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Common.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/Fvp.c
  Platform/ARM/Morello/Library/LcdPlatformLibMorello/LcdPlatformLibMorelloFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Set PCDs related to PCIe and CCIX in FVP
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Use common PCD
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/SsdtPciFvp.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeFvp.inf
  Platform/ARM/Morello/Library/PciExpressLib/PciExpressLib.inf
  Platform/ARM/Morello/Library/PciHostBridgeLib/PciHostBridgeLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Enable the network stack for FVP
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Add support to parse NT_FW_CONFIG in FVP
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.c
  Platform/ARM/Morello/Drivers/MorelloNtFwConfigPei/Fvp.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/AArch64/Helper.S
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibFvp.inf
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello: Segregate the Runtime Variable support
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.dsc
Owners: @samimujawar

Platform/ARM/Morello: Implement LcdHwLib for the ARM Mali Dxx
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/Driver.c
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/LcdHwMaliDxxLib.inf
  Platform/ARM/Morello/Library/LcdHwMaliDxxLib/RegisterMap.h
Owners: @samimujawar

Platform/ARM/Morello: Parse HW_CONFIG from EL3_FW
  Platform/ARM/Morello/Drivers/MorelloHwConfigPei/MorelloHwConfigPei.c
  Platform/ARM/Morello/Drivers/MorelloHwConfigPei/MorelloHwConfigPei.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/AArch64/Helper.S
  Platform/ARM/Morello/Library/PlatformLib/PlatformLib.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
  Platform/ARM/Morello/MorelloPlatformFvp.fdf
Owners: @samimujawar

Platform/ARM/Morello/FVP: Support cpuidle in ACPI
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManagerDxeFvp.inf
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/MorelloPlatform.dec
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/Morello: Add CPU container for Morello FVP
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/AslTables/DsdtFvp.asl
Owners: @samimujawar

Platform/ARM/Morello: Ensure GOP is enabled at runtime in FVP
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
Owners: @samimujawar

Platform/ARM/Morello: Modify the IRQ ID and frequency of Debug UART
  Platform/ARM/Morello/ConfigurationManager/ConfigurationManagerDxe/ConfigurationManager.c
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM/Morello/FVP: Change variable name related to AXI
  Platform/ARM/Morello/Include/MorelloPlatform.h
  Platform/ARM/Morello/Library/PlatformLib/PlatformLibMemFvp.c
Owners: @samimujawar

Platform/ARM/Morello: Update Readme.md
  Platform/ARM/Morello/Readme.md
Owners: @samimujawar

Platform/ARM/Morello/FVP: Expose the Device Tree if it is available
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.c
  Platform/ARM/Morello/Drivers/PlatformDxe/PlatformDxeFvp.inf
  Platform/ARM/Morello/MorelloPlatform.dsc.inc
Owners: @samimujawar

Platform/ARM: add tpm related information
  Platform/ARM/ARM.dec
Owners: @samimujawar

Platform/ARM/Drivers: add NvFlash area for TPM storage
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.c
  Platform/ARM/Drivers/NorFlashDxe/NorFlashStandaloneMm.inf
Owners: @samimujawar

Platform/ARM: introduce PcdTpmSecureCrbBase/Size
  Platform/ARM/ARM.dec
Owners: @samimujawar

Platform/ARM/Drivers: introduce FtpmSmm
  Platform/ARM/Drivers/FtpmSmm/FtpmSmm.c
  Platform/ARM/Drivers/FtpmSmm/FtpmSmm.inf
  Platform/ARM/Drivers/FtpmSmm/FtpmSmm.uni
Owners: @samimujawar
